/* .title{
    transition: opacity .5% .25s ease-out;
}
.title.is-visible{
    opacity: 1;
}
.main-photo{
    transform: scale(.8);
}
h1{
    text-align: center;
    transform: translate (-50%, calc(-50% +1em));
}
.is-visible .main-photo{
    transform: none;
}
.is-visible h1{
    transform: translate(-50%, 50%);
}
.main-photo, h1{
    transition: transform 4s .35s cubic-bezier(0,1,.3,1);
    will-change:transform;
}

.container{
    text-align:center;
}
.inline-photo{
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4% .25s cubic-bezier(0,1,.3,1),
                opacity .3% .25s ease-out;
    max-width: 600px;
    width:50vh;
    will-change: transform, opacity;
}

.inline-photo.is-visible{
    opacity: 1;
    transform: rotateZ(-2deg);
}
 */

.container{
    text-align:center;
}
.inline-photo {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    max-width: 400px;
    opacity: 0;
    -webkit-transform: translateY(4em) rotateZ(-5deg);
            transform: translateY(4em) rotateZ(-5deg);
    -webkit-transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out,
                -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
    width: 50%;
  
    will-change: transform, opacity;
  }
  
  .inline-photo.is-visible {
    opacity: 1;
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  
.title{
    margin-top: 2em;
    text-align: center;
}
.descr{
    margin: auto;
    width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
}
.descr h3{
    margin-bottom: 1em;
}